# Лабораторная работа 2

## Введение в Pandas. Создание объекта Series в Pandas

In [1]:
import pandas as pd
import numpy as np

### Задание 1

Создать объект Series из списка чисел [1, 2, 3] с метками [a, b, c] и вывести
его на печать.

In [11]:
series = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])

print(series)

a    1
b    2
c    3
dtype: int64

## Задание 2

Создать объект Series из словаря {'a': 1, 'b': 2, 'c': 3} и вывести его на
печать.

In [12]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
series = pd.Series(my_dict)

print(series)

a    1
b    2
c    3
dtype: int64

## Задание 3

Создать объект массива NumPy arr = [1, 2, 3, 4, 5] , затем из него создать
объект Series и вывести его на печать.

In [13]:
my_array = np.array([1, 2, 3, 4, 5])
series = pd.Series(my_array)

print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int32

## Задание 4

Создать объект Series с заполнением по умолчанию значением 0 и метками [a, b,
c] и вывести его на печать.

In [14]:
series = pd.Series(0, index = ['a', 'b', 'c'])

print(series)

a    0
b    0
c    0
dtype: int64

## Задание 5

В первой строке ввода с клавиатуры поступает строка с символами разлепленными
пробелом, во второй строка с целыми числами. На их основе создать список
кортежей и из него объект Series, вывести его на печать.

In [18]:
s1 = input("Введите строку с символами, разделенными пробелом: ")
s2 = input("Введите строку целых чисел: ")

simv = tuple(str(item) for item in s1.split(' '))
num = tuple(int(item) for item in s2.split(' '))

my_dict = list(zip(simv, num))
series = pd.Series(my_dict)

print(series)

Введите строку с символами, разделенными пробелом: a j r y
Введите строку целых чисел: 5 3 8 66
0     (a, 5)
1     (j, 3)
2     (r, 8)
3    (y, 66)
dtype: object

## Задание 6

На вход поступает строка слов, разделенных пробелом. Создать на ее основе
объект Series с метками 0, 1, 2,... Вывести его на печать.

In [19]:
s = input("Введите слова через пробел: ")

str = tuple(str(item) for item in s.split(' '))
series = pd.Series(str)

print(series)

Введите слова через пробел: Hello my name Alena
0    Hello
1       my
2     name
3    Alena
dtype: object

## Задание 7

На вход поступает последовательность из чисел 0 и 1, разделенных пробелом.
Создать на ее основе объект Series, содержащий булевы значения true (1) , false
(0) c метками [a, b, c, d,...]

In [29]:
s = input("Введите последовательность из чисел 0 и 1: ")
str = list(map(int, s.split(" ")))

series = pd.Series(str, dtype = bool)
series = series.rename(lambda x: chr(97 + x))

print(series)

Введите последовательность из чисел 0 и 1: 0 1 1 0
a    False
b     True
c     True
d    False
dtype: bool

## Задание 8

Создать объект Series из списка дат ['2022-01-01', '2022-01-02', '2022-01-03'] ,
вывести его на печать. Даты в объекте Series должны быть представлены
объектами datetime стандартной библиотеки языка программирования Python.

In [32]:
series = pd.Series(data = pd.date_range("2022-01-01", periods = 3))

print(series)

0   2022-01-01
1   2022-01-02
2   2022-01-03
dtype: datetime64[ns]

## Задание 9

На вход подаются два целых числа n и m через пробел. На их основе создать
объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5,
7,...] . Вывести его на печать.

In [39]:
n = int(input("n: "))
m = int(input("m: "))

series = pd.Series(np.arange(int(n), int(m), 10))
series = series.rename(lambda x: 2 * x + 1)

print(series)

n: 11
m: 67
1     11
3     21
5     31
7     41
9     51
11    61
dtype: int32

## Индивидуальное задание

Создать объект Series из словаря, содержащего наименование товара и его цену, отсортировать словарь по цене товара и вывести его на печать.

In [51]:
my_dict = {
    "Молоко":'85',
    "Сметана":'70',
    "Печенье":'49',
    "Сникерс":'29',
    "Гречка":'89',
    "Сырок":'15',
    "Рис":'99'
}


series = pd.Series(my_dict)
sort = series.sort_values(ascending = False)

print(sort)

Рис        99
Гречка     89
Молоко     85
Сметана    70
Печенье    49
Сникерс    29
Сырок      15
dtype: object